.main_about_us_section .image_main_wrapper img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main_about_us_section .image_main_wrapper{
    width: 100%;
    height: 100%;
}
.main_about_us_section .about_us_content{
    margin: 40px 0;
}
.main_about_us_section .about_us_content.right .about_us_content_inner h2{
    text-transform: inherit;
}
.main_about_us_section .about_us_content .about_us_content_inner{
    color: #ffffff;
}
.main_about_us_section .about_us_content .about_us_content_inner h2{
    font-weight: 700;
    font-size: 40px;
}

.main_about_us_section .content_info_section{
    display: table;    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content_info_bg{
    display: table-cell;
    vertical-align: middle;
}
.main_about_us_section .about_us_content .about_us_content_inner h4{
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
}
.main_about_us_section .about_us_content .about_us_content_inner p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
@media(min-width:768px){
    .main_about_us_section .about_us_content{
        margin: 80px 0;
    }
    .main_about_us_section .image_main_wrapper img{
        height: 100%;
    }
}
@media(min-width:1200px){
    .main_about_us_section .content_info_section{    
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;      
    }
    .about_us_content.left {
        display: grid;
        grid-template-columns: 0.4fr;
    }
    .about_us_content.right {
        display: grid;
        grid-template-columns: 0.4fr;
        justify-content: end;
    }
    .main_about_us_section{
        padding-bottom: 75%;
    }
    .main_about_us_section .about_us_content{
        margin-bottom: 100px;
    }
    .main_about_us_section .about_us_content .about_us_content_inner h2{
        font-size: 64px;
    }
    .main_about_us_section .about_us_content .about_us_content_inner h4{
        font-size: 46px;
    }
    .main_about_us_section .about_us_content .about_us_content_inner p{
        font-size: 20px;
        line-height: 36px;
    }
}