
@font-face {
  font-family: 'Peachi-Bold';
  font-display: swap;
  font-weight: 700;
  src: url('https://cdn.shopify.com/s/files/1/0684/3023/3888/files/Peachi-Bold.otf?v=1677652635') format('opentype');
}

@font-face {
  font-family: 'Peachi-Light';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('https://cdn.shopify.com/s/files/1/0684/3023/3888/files/Peachi-Light.otf?v=1677652631') format('opentype') ;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap') ;
}

/* Begin: Common Styles */
body {
  letter-spacing: 0.5px;
  font-family: 'Peachi-Bold', 'Peachi-Light';
}

.font-secondary{
font-family: 'Peachi-Light';
}

.font-primary{
  font-family: 'Peachi-Bold';
}

.font-tertiary{
  font-family: 'Montserrat', sans-serif;
}

/* Begin: Footer Section */
.footer-wrapper {
  padding: 0;
  display: block;
  color: #1b2943;
}

.footer-image-section {
  background-color: #e1e9eb;
}

.footer-wrapper .footer-text p {
  font-weight: 700;
  font-size: 42px;
  line-height: 56px;
  color: #1b2943;
}

.footer-wrapper .footer-text p span {
  display: block;
  font-size: 21px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-wrapper .footer-text {
  padding: 60px 0 60px 30px;
}

/* .footer-subHeading{
  font-size: 22px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
} */

.footer-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.footer-menu {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
/* End: Footer Section */

/* Begin: Menu Cart Drawer Section */
.menuDrawer-Headermenu:hover {
  color: #1376bc;
  position: relative;
}

.menuDrawer-Headermenu:hover .forward-nav-icon {
  opacity: 1;
}

.menuDrawer-Foootermenu:hover {
  color: #1376bc;
}

.menuDrawer-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-drawer-cart {
  position: relative;
  margin-right: 1rem;
  top: 32%;
}
/* End: Menu Cart Drawer Section */
/* End: Common Styles */

/* Begin: Product Form Section */

.product-form-wrapper {
  border: 1px solid #DDDDDD;
  padding: 50px 40px;
  border-radius: 10px;
}

.product-form-wrapper .product-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000;
}

.product-form-wrapper .add-to-cart-wrapper {
  grid-template-columns: auto auto;
  margin: 20px 0 30px;
}

.product-form-wrapper .add-to-cart-wrapper .quantity-selector {
  border: 1px solid #000;
}

.product-form-wrapper .desc-list ul {
  list-style: disc;
  margin-left: 15px;
}

.product-form-wrapper .desc-list ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.product-form-wrapper .desc-list ul li:not(:last-child) {
  margin-bottom: 20px;
}

/* End: Product Form Section */

/* Begin: Media Query */
@media screen and (max-width:640px) {
  .footer-wrapper .footer-text p {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0em;
    
  }

  .footer-wrapper .footer-text p span {
    font-size: 20px;
    line-height: 26px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper .footer-text p {
    font-size: 52px;
    line-height: 56px;
  }

  .footer-wrapper .footer-text p span {
    padding-top: 20px;
    font-size: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-image-section .footer-image {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 320px) {
  .drawer-dialog-panel {
    width: 120vw;
    height: 120vh;
  }
  .menu-drawer-container {
    height: 100vh;
  }

  .footer-social-media {
    position: absolute;
    bottom: 0;
    padding-left: 1.5rem;
  }

  .menu-drawer-cart {
    width: 1rem;
    height: 1rem;
    position: relative;
    margin-right: 2.75rem;
    top: 18%;
  }

  .menu-cart-icon {
    margin: 0.75rem;
  }

  /* .menuDrawer-nav {
     align-content: center;
     flex-wrap: wrap;
    } */
}

@media screen and (min-width: 768px) {
  .forward-nav-icon {
    opacity: 0;
    display: inline-block;
    transform: translateY(25%);
    margin-left: 2rem;
    transition: all 0.4s;
  }

  .menu-drawer-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .footer-social-media {
    position: absolute;
    bottom: 5%;
    padding-left: 3rem;
  }

  .menu-drawer-cart {
    width: unset;
    height: unset;
    top: 32%;
    margin-right: 0.75rem;
  }

  .menu-drawer-account {
    margin: 1rem;
  }
  .forward-nav-icon {
    opacity: 0;
    display: inline-block;
    transform: translateY(25%);
    margin-left: 2rem;
    transition: all 0.4s;
  }
  .test {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .footer-social-media {
    position: absolute;
    bottom: 5%;
    padding-left: 3rem;
  }

  .footer-wrapper .footer-text p {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0em;
  }

  .footer-wrapper .footer-text p span {
    font-size: 24px;
    line-height: 26px;
    margin-top: 1rem;
  }
}

/* End: Media Query */
