.footer-wrapper {
    padding: 0;
    display: block;
    color: #1376BC;
}

.footer-image-section{
    background-color: #E3F4FF;
}

.footer-wrapper .footer-text p {
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #000;
}

.footer-wrapper .footer-text p span {
    font-weight: 400;
    font-size: 24px;
    display: block;
}

.footer-wrapper .footer-text {
    padding: 60px 0 60px 30px;
}

.footer-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.footer-menu {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

@media(min-width:1200px){
    .footer-wrapper .footer-text p{
        font-size: 52px;
        line-height: 56px;        
    }
    .footer-wrapper .footer-text p span{        
        padding-top: 20px;
        font-size: 32px;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .footer-image-section .footer-image{
        display: flex;
        align-items: flex-end;
    }
}