/* Begin: Product Handle */
.product-section {
  padding: 0;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 4%;
  row-gap: 2rem;
  padding-left: 2em;
  padding-right: 2em;
}

.media-gallery {
  width: 54%;
}

.product-content-description {
  width: 38%;
}

.product-form-wrapper {
  border: 1px solid #DDDDDD;
  padding: 1rem 1.2rem;
  border-radius: 10px;
}

.media-gallery .flickity-page-dots {
  bottom: unset;
}

@media (min-width: 768px) {
  .product__media-sticky {
    display: block;
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .media-gallery {
    width: 100%;
  }

  .product-content-description {
    width: 100%;
  }

  .flickity-prev-next-button, .flickity-prev-next-button {
    display: none;
  }

  .media-gallery .flickity-page-dots {
    display: flex;
    column-gap: 2em;
    justify-content: center;
    vertical-align: top;
    position: relative;
    list-style-type: circle;
    bottom: 1rem;
  }
  /* white circles */
  .media-gallery .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    border: 2px solid #E1E9EB;
    background: #E1E9EB;
    border-radius: 50px;
  }

  /* fill-in selected dot */
  .media-gallery .flickity-page-dots .dot.is-selected {
    background: #1B2943;
    border: 2px solid #1B2943;
    border-radius: 50px;
  }
}

/* Begin: Product Form Section */
  
  .product-form-wrapper .product-title {
    font-family: 'Peachi-Medium';
    font-size: 32px;
    line-height: 41px;
    color: #000;
  }
  
  .product-form-wrapper .product-price {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #717070;
  }

  .product-form-wrapper .add-to-cart-wrapper {
    grid-template-columns: auto auto;
    margin: 20px 0 30px;
  }
  
  .product-form-wrapper .add-to-cart-wrapper .quantity-selector {
    border: 1px solid #000;
    justify-content: space-between;
  }
  
  .product-form-wrapper .desc-list ul {
    list-style: disc;
    margin-left: 15px;
  }
  
  .product-form-wrapper .desc-list ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
  
  .product-form-wrapper .desc-list ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  /* End: Product Form Section */
  
  /* Begin: Media Query */
  @media screen and (max-width: 320px) {
    .cart-btn {
      padding: .5em;
    }
  }

  @media screen and (max-width: 540px) {

    .product-form-wrapper .product-title {
      font-size: 24px;
      line-height: 31px;
    }

    .product-form-wrapper .product-price {
      font-size: 20px;
      line-height: 24px;
    }
    .cart-btn span.text-copy {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 820px) {

    .product-form-wrapper {
      padding: 40px 30px;
    }
    .cart-btn {
      padding: 5px;
    }
    .cart-btn span.text-copy {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1024px) {
    .product-form-wrapper {
      margin: 0;
    }
    .cart-btn {
      padding: 0.75em;
    }
  }
  /* End: Media Query */
  /* End: Product Handle */
