/* Begin: Product Handle */
.product-section {
  padding: 0;
  gap: 0rem;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 5%;
  row-gap: 2rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.media-gallery {
  width: 56%;
  max-width: 900px;
}
.okendo-reviews{
  width: 100%;
}
.oke-w-header{
  width: 100%;
}
.oke-is-small .oke-w-breakdownModule {
  width: 90% !important;
  max-width: 100% !important;
}

.product-content-description {
  width: 37%;
  display: flex;
  align-items: center;
}

.product-content-description > div {
  max-width: 445px;
}

.product-form-wrapper {
  border: 1px solid #DDDDDD;
  padding: 3.25rem 2.87rem;
  border-radius: 10px;
}

.subscription-product-form-wrapper {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}


.product-form-wrapper .product-price span, .subscription-product-form-wrapper .product-price span {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #717070;
}

.product-form-wrapper .product-price span.price-sub-text, .subscription-product-form-wrapper .product-price span.price-sub-text {
  font-size: 16px;
  line-height: 22px;
  margin-left: 5px;
}

.stike-out {
  color: #F62727 !important;
  text-decoration: line-through;
  font-size: 16px;
}

.stike-out span {
  color: #F62727 !important;
  font-size: 20px !important;
}

label.product-form-wrapper, label.subscription-product-form-wrapper {
  display: block;
  cursor: pointer;
}

.media-gallery .flickity-page-dots {
  bottom: unset;
}

.media-gallery .product__media-sticky .flickity-enabled .flickity-button:disabled{
  border: 3.23px solid #DBE3E9;
  background: #DBE3E9;
}

.product-description {
  color: #4B4B4B;
  font-style: normal;
  font-weight: 400;
}

.product-information {
  font-family: 'Peachi-Medium';
  font-size: 18px;
  color: #000;
  margin-bottom: 0.5rem;
}

.additional-information .filter_club_benefits {
  text-decoration: underline;
  text-underline-offset: 3px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-top: 32px;
}

.filter-club-subscription-modal-content .additional-information .filter_club_benefits:last-child {
  margin-top: 0;
}

.additional-information .include-benifits span {
  margin-left: unset;
  font-weight: 400;
  font-size: 13px;
}

.additional-information .filter_club_benefits span {
  cursor: pointer;
}

.cart-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (max-width: 375px) {
  .cart-btn {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
@media (min-width: 768px) {
  .product-content {
    margin-bottom: 2rem;
  }
  .product__media-sticky {
    display: block;
    position: sticky;
    top: 100px;
    border: unset;
  }

  .media-gallery .product__media-sticky .flickity-prev-next-button{
    width: 35px;
    height: 35px;
    padding: 8px;
  }
}

@media screen and (max-width: 767px) {
  .product-content {
    margin-bottom: 1rem;
  }

  .media-gallery {
    width: 100%;
  }

  .product-content-description {
    width: 100%;
  }

  .product-content-description > div {
    max-width: 100%;
  }

  .flickity-prev-next-button, .flickity-prev-next-button {
    display: none;
  }

  .media-gallery .flickity-page-dots {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    vertical-align: top;
    position: relative;
    list-style-type: circle;
    bottom: 2rem;
  }
  /* white circles */
  .media-gallery .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    border: 2px solid #E1E9EB;
    background: #E1E9EB;
    border-radius: 50px;
  }

  /* fill-in selected dot */
  .media-gallery .flickity-page-dots .dot.is-selected {
    background: #1B2943;
    border: 2px solid #1B2943;
    border-radius: 50px;
  }
  /* .additional-information:first .filter_club_benefits {
    margin-top: 32px;
  } */
  .filter-club-subscription-modal-content .additional-information:not(:first) .filter_club_benefits {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1440px) {
  .subscription-form .subscription-product-form-wrapper .product-form-wrapper-grid {
    width: 437px;
  }
}

/* Begin: Product Form Section */
  
.product-form-wrapper .product-title, .subscription-product-form-wrapper .product-title {
  /* font-family: 'Peachi-Medium';
  font-size: 32px;
  line-height: 41px;
  color: #000; */
  color: #1B2943;
  font-family: 'Peachi-Medium';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.product-form-wrapper .add-to-cart-wrapper, .subscription-product-form-wrapper .add-to-cart-wrapper {
  grid-template-columns: auto auto;
  margin: 20px 0 30px;
}
  
.product-form-wrapper .add-to-cart-wrapper .quantity-selector, .subscription-product-form-wrapper .add-to-cart-wrapper .quantity-selector {
  border: 1px solid #000;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
}
  
.product-form-wrapper .desc-list ul, .subscription-product-form-wrapper .desc-list ul {
  list-style: disc;
  margin-left: 15px;
}
  
.product-form-wrapper .desc-list ul li, .subscription-product-form-wrapper .desc-list ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
  
.product-form-wrapper .desc-list ul li:not(:last-child), .subscription-product-form-wrapper .desc-list ul li:not(:last-child) {
  margin-bottom: 20px;
}
  /* End: Product Form Section */
  
/* Begin: Media Query */

@media(min-width:1200px){
  .product-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .media-gallery .product__media-sticky .flickity-prev-next-button{
    width: 45px;
    height: 45px;
    padding: 13.5px;
  }
}

@media screen and (max-width: 1024px) {
  .cart-btn {
    min-width: max-content;
  }
}

@media screen and (max-width: 912px) {
  .product-form-wrapper {
    padding: 1rem 1.2rem;
  }
}

@media screen and (max-width: 540px) {

  .product-section {
    gap: 2rem;
  }
  
  .product-form-wrapper {
    padding: 27px 37px;
  }

  .product-form-wrapper .product-title {
    font-size: 24px;
    line-height: 31px;
  }

  .product-form-wrapper .product-price {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .product-form-wrapper {
    padding: 22px 14px;
  }
  .cart-btn span.text-copy{
    font-size: 14px !important;
  }
}

/* End: Media Query */
/* End: Product Handle */

.subscription-form .product-form-wrapper {
  padding: 2rem;
}

.subscription-form .subscription-product-form-wrapper .product-form-wrapper-grid {
  padding: 1rem 2rem 1.75rem;
}

.subscription-form .subscription-product-form-wrapper .product-label-banner {
  background-color: #e1e9eb;
  padding: 9px 22px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.subscription-form .subscription-product-form-wrapper .product-label-banner .icon-with-text {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  align-items: center;
}

.subscription-form .subscription-product-form-wrapper .product-label-banner .icon-text {
  color: #1B2943;
  font-family: 'Peachi-Bold';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.subscription-form .subscription-product-form-wrapper .product-label-banner p {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}


.subscription-form .subscription-title {
  margin: 0.5rem auto;
}

.okeReviews[data-oke-container] .oke-state, div.okeReviews .oke-state {
  border-bottom: unset !important;
}

.subscription-form input[name="subscription-form"] {
  display: none;
}

.subscription-form input[name="subscription-form"]:checked + label.subscription-product-form-wrapper {
  border: 2px solid #1B2943;
  cursor: initial;
}

.subscription-form .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 1rem;
}

.subscription-add-to-cart button[disabled]{
  opacity: 0.7;
}

.one-time-product-row {
  display: grid;
  align-items: center;
  grid-template-columns: 0.6fr 0.8fr 1.5fr;
  border: 1px solid #DDDDDD;
  padding: 1rem 0;
}

.one-time-product-row .image-wrapper {
  height: 50px;
}

.one-time-product-row .image-wrapper img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  height: 100%;
}

.one-time-product-row .product-price span{
  font-size: 14px;
  line-height: 1rem;
  color: #717070;
}

.one-time-product-row .onetime-product-title {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #161616;
}

.one-time-product-row .quantity-field {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.one-time-product-row .quantity-field > div {
  font-size: 20px;
}
.one-time-product-row .quantity-field .quantity-selector{
  height: 75%;
  border: 1px solid #000;
  font-family: Montserrat, sans-serif;
}
.one-time-product-row .quantity-field .text-black{
  font-family: 'Montserrat', sans-serif;
}
.disabled\:text-primary\/10:disabled{
  color:  #a1a4b3 !important;
}
.subscription-add-to-cart {
  margin: 1.5rem auto;
}
.subscription-add-to-cart .cart-btn span.text-copy{
  font-size: 16px;
}
