/* Begin: Footer Contact */

.footer-image-section {
  background-color: #e1e9eb;
}

.footer-image-section .footer-text .footer-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 56px;
  color: #000;
}

.footer-image-section .footer-text .footer-heading span {
  display: block;
  font-size: 21px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-image-section .footer-text {
  padding: 8rem 0 0;
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-icon-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.footer-contact-icons .footer-icon-wrapper {
  background-color: #fff;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-contact-icons img {
  height: 35px;
  width: 35px;
  transition: all .2s ease-in-out;
}

.footer-contact-icons:hover img{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.footer-contact-wrapper .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
  font-size: 24px;
  line-height: 46.8px;
  color: #1B2943;
  font-family: 'Montserrat', sans-serif;
}

.footer-contact-wrapper:first-child ~ .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
  text-decoration: underline;
}

.footer-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}

.footer-menu {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* End: Footer Contact */

/* Begin: Media Query */

@media screen and (max-width:640px) {
  .footer-image-section .footer-text {
    padding: 12px 0;
  }
  .footer-image-section .footer-text .footer-heading {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0em; 
  }

  .footer-image-section .footer-text .footer-heading span {
    font-size: 20px;
    line-height: 26px;
    margin-top: 1rem;
    width: 80%;
  }

  .footer-contact-icons img {
    height: 26px;
    width: 26px;
  }

  .footer-contact-wrapper .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
    font-size: 18px;
    line-height: 35px;
  }
}

@media screen and (max-width: 360px) {
  .footer-contact-icons .footer-icon-wrapper {
    padding: 12px;
  }
  .footer-contact-icons img {
    height: 22px;
    width: 22px;
  }
  .footer-contact-wrapper .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
    font-size: 16px;
    line-height: 33px;
  }
}

@media screen and (max-width: 320px) {
  .footer-contact-wrapper .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-image-section .footer-text{
    padding: 4rem 0 4em;
  }
  .footer-image-section .footer-image {
    display: flex;
    align-items: flex-end;
  }
  .footer-contact-wrapper .footer-contact-icons .footer-icon-text-wrapper .footer-icon-text {
    font-size: 16px;
    line-height: 33px;
  }
  .footer-contact-icons img {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-image-section{
    align-items: center;
    position: relative;
  }
  .footer-image img{
    height: 100%;
    object-fit: cover;
  }
  .footer-image{
    max-height: 550px;
  }
  .footer-image-section .footer-text {
    padding: 0;
    padding-left: 3rem;
  }
  .footer-image-section .footer-text .footer-heading {
    font-size: 52px;
    line-height: 56px;
  }

  .footer-image-section .footer-text .footer-heading span {
    padding-top: 10px;
    font-size: 20px;
  }
}


/* End: Media Query */