.individual-side-content {
    padding-top: 50px;
}
.individual-side-content:first-child {
    padding-left: 6.5rem;
}
.individual-side-content:nth-child(2) {
    background-color: #e6f1f9;
    padding-right: 7.5rem;
}
.content-title {
    color: #11223d;
    font-family: Peachi-Bold;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-left: 84px;
    margin-right: 81px;
    border-bottom: 2px solid #11223d;
}

@media screen and (min-width: 1440px) {
    .two-sided-content-section {
        gap: 1rem;
    }
    .content-title {
        font-size: 40px;
        line-height: 65px;
        margin-left: 60px;
        margin-right: 70px;
    }
}

@media screen and (min-width: 1980px) {
    .two-sided-content-section.individual-side-content:first-child {
        margin-left: 0;
        margin-right: 0;
    }
    .two-sided-content-section {
        gap: 8rem;
    }
}

@media screen and (min-width: 1920px) {
    .two-sided-content-section {
        gap: 8.5rem;
    }
    .individual-side-content:nth-child(2) {
        background-color: #e6f1f9;
        padding-right: 14.5rem;
    }
}

@media screen and (min-width: 1680px) {
    .content-title {
        font-size: 48px;
        line-height: 70px;
        margin-left: 84px;
        margin-right: 81px;
    }
}

@media screen and (max-width: 1280px) {
    .content-title {
        font-size: 40px;
        line-height: 70px;
    }
    .individual-side-content:first-child {
        padding-left: 1.5rem;
    }
    .individual-side-content:nth-child(2) {
        padding-right: 1.5rem;
    }
    .individual-side-content:first-child .content-title {
        margin-right: 70px;
        margin-left: 0;
    }

    .individual-side-content:nth-child(2) .content-title {
        margin: 0 70px;
    }
}
@media screen and (max-width: 1024px) {
    .content-title {
        font-size: 34px;
        line-height: 46px;
    }

    .individual-side-content:first-child .content-title {
        margin: 0 40px 0 0;
    }

    .individual-side-content:nth-child(2) .content-title {
        margin: 0 70px;
    }
}

@media screen and (max-width: 840px) {
    .content-title {
        font-size: 30px;
        line-height: 55px;
    }
}
@media screen and (max-width: 768px) {
    .content-title {
        font-size: 26px;
        line-height: 55px;
    }
}
@media screen and (min-width: 768px) {
    .content-desktop-image {
        display: block;
    }
    .content-mobile-image {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .content-desktop-image {
        display: none;
    }
    .content-mobile-image {
        display: block;
        width: 100%;
    }
    .two-sided-content-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .individual-side-content:nth-child(2) {
        padding: 40px 22px 0 22px!important;
    }
    .individual-side-content,
    .individual-side-content:first-child {
        padding: 1.5em 1em 0 1em !important;
        width: 100%;
    }
    .individual-side-content:first-child .content-title, .content-title,
    .individual-side-content:nth-child(2) .content-title {
        margin: 0 !important;
        font-size: 32px;
        line-height: 50px;
    }
}