/* image with text overlay */
.image_with_block_sec_inner{
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.image_with_block_sec_inner .card_overlay__first{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: .2s ease-in-out;
}
.image_with_block_sec_inner .card_overlay__first .card__header_first h2{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-family: 'Peachi-Light';    
}
.image_with_block_sec_inner .card_overlay__first .card__header_first{
    padding: 2em;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
}
.image_with_block_sec_inner .card_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
.image_with_block_sec_inner .card__header h2{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-family: 'Peachi-Light';
}
.image_with_block_sec_inner .card__header{
    padding: 0 2em 2em 2em;
}
.image_with_block_sec_inner.active .card_overlay {
    transform: translateY(0);
    background-color: #1B2943;
    color: #ffffff;    
}
.right_rotate_arrow_icon{
    transition: .2s ease-in-out;
}
.image_with_block_sec_inner.active .right_rotate_arrow_icon{
    transform: rotate(268deg);
    transition: .2s ease-in-out;
}
.image_with_block_sec_inner .card__description{
    padding: 2em;    
    margin: 0;
    transition: .2s ease-in-out;
    overflow-y: auto;
    max-height: 280px;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

@media screen and (max-width: 425px) {
    .image_with_block_sec_inner .card__description{
        font-size: 16px;
        line-height: 30px;
        padding: 1.5em 1.5em 1em 1.5em;
    }
    .image_with_block_sec_inner .card__header{
        padding: 0 1.5em 2em 1.5em;
    }
    .image_with_block_sec_inner .card__header h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .right_arrow_icon svg, .right_rotate_arrow_icon svg{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 320px) {
    .image_with_block_sec_inner .card__description {
        max-height: 170px;
        font-size: 14px;
        line-height: 27px;
    }
    .image_with_block_sec_inner .card__header h2 {
        font-size: 18px;
        line-height: 28px;
    }
}