.compare-section {
    min-width: 100%;
}

.desktop-compare-table {
    background-color: #F6F6F6;
}

.desktop-compare-table .compare-table-container {
    background-color: #F6F6F6;
    overflow: auto;
    min-width: 100%;
    height: 100%;
    margin: 80px auto 0 auto;
}

.desktop-compare-table table.compare-table {
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
  border-collapse: separate;
}

.desktop-compare-table th, .mobile-compare-table th {
    font-weight: 600;
    text-align: left;
}

.desktop-compare-table .fixed-td, .mobile-compare-table .fixed-td {
    position: sticky;
    z-index: 2;
    left: 0;
    width: 50%;
    border-right: 1px solid #C9C9C9;
}

.desktop-compare-table .fixed-hd, .mobile-compare-table .fixed-hd {
    position: sticky;
    top: 0;
    z-index: 1;
}

.desktop-compare-table .left-top-td {
    z-index: 3;
    width: 627px;
    background-color: #F6F6F6;
}

.desktop-compare-table .scrollable-td {
    width: 150px;
    border-right: 1px solid #C9C9C9;
    text-align: center;
}

.desktop-compare-table .scrollable-td:last-of-type {
    border-right: none;
}

.desktop-compare-table .table-header-content {
    display: flex;
    flex-direction: column;
}

.desktop-compare-table img#table-header-product-image {
    width: 106px;
    height: 130px;
    margin: auto;
}

.desktop-compare-table img#table-header-brand-icon {
    width: 69.053px;
    height: 87px;
}

.desktop-compare-table .table-header-title, .desktop-compare-table #table-header-product-name {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}


.desktop-compare-table .scrollable-td:nth-child(2n) #table-header-product-name,
.desktop-compare-table .scrollable-td:last-child #table-header-product-name {
    width: 50%;
    margin: 0 auto;
}

.desktop-compare-table #table-header-compare-title {
    color: #11223d;
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-style: normal;
    line-height: 70px;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 14px;
    text-transform: none;
}

.desktop-compare-table .right-top-th {
    margin: auto;
}

.desktop-compare-table .compare-table-row .fixed-td {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    background-color: #F6F6F6;
    border-top: 3px solid #11223D;
}

.desktop-compare-table .compare-table-row .compare-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    border-top: 3px solid #11223D;
}

.compare-value-icon {
    align-items: center;
    column-gap: 5px;
    display: inline-flex;
}

.compare-value-yes {
    color: #47933B;
}

.compare-value-some {
    color: #F38928;
}

.compare-value-no {
    color: #BA1323;
}

.mobile-table-heading {
    color: #000;
    font-family: 'Peachi-Bold';
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    border-bottom: 2px solid #11223D;
    padding-bottom: 14px;
    margin-left: 1rem;
}

/* Begin: Mobile Grid Table */
.mobile-grid-container {
    margin: 50px 0 27px 18px;
    width: 100%;
    overflow: auto;
}

.mobile-grid-container .mobile-grid-table {
    width: 200%;
}

.mobile-grid-container .grid-heading-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data {
    padding: 0 12px 24px 0;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data img {
    margin: auto;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data:first-child {
    border-right: 1px solid #E4E4E4;
    position: sticky;
    left: 0;
    background-color: #FFFFFF;
    height: 175px;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data:not(:first-child) {
    border-right: 1px solid #E4E4E4;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data .table-header-title {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
}

.mobile-grid-container .grid-properties-row {
    position: sticky;
    width: 100%;
    left: 0;
    display: grid;
    background-color: #f2f2f2;
}

.mobile-grid-container .grid-properties-row .grid-property-row {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    padding: 7px 6px;
    width: 400px;
    position: sticky;
    left: 0;
    z-index: 2;
}

.mobile-grid-container .grid-properties-row .grid-property-row p {
    overflow: hidden;
    position: sticky;
    left: 0;
    margin: 0;
    padding: 0 6px;
    width: 95%;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value-icon {
    line-height: 60px;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value:first-child {
    border-right: 1px solid #E4E4E4;
    position: sticky;
    left: 0;
    background-color: #FFFFFF;
    z-index: 2;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value:not(:first-child) {
    border-right: 1px solid #E4E4E4;
    background-color: #fff;
    position: relative;
}
/* End: Mobile Grid Table */

/* Begin: Media Query */

@media screen and (max-width: 320px) {
    .mobile-grid-container .grid-properties-row .grid-property-row p {
        width: 85%;
    }
}


@media screen and (min-width: 360px) and (max-width: 393px) {
    .mobile-grid-container .grid-properties-row .grid-property-row {
        left: 0;
        padding: 7px 0;
    }
    .mobile-grid-container .grid-properties-row .grid-property-row p {
        width: 85%;
        left: 12px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 767px) {
    .compare-section {
        width: 100%;
        overflow-x: hidden;
    }
    .desktop-compare-table {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile-grid-compare {
        display: none;
    }
    .mobile-table-heading {
        display: none;
    }
    .desktop-compare-table {
        min-width: 100%;
        display: block;
        padding: 80px 60px 88px;
    }
    .desktop-compare-table .left-top-td {
        width: 407px;
    }
}

@media screen and (max-width: 1024px) {
    .desktop-compare-table #table-header-compare-title {
        font-size: 42px;
        line-height: 60px;
    }
    .desktop-compare-table .left-top-td {
        width: 427px;
    }
    .desktop-compare-table #table-header-compare-title {
        font-size: 38px;
        line-height: 56px;
    }
}

@media screen and (min-width: 1280px) {
    .desktop-compare-table {
        padding: 80px 104px 88px;
    }
    .desktop-compare-table .left-top-td {
        width: 627px;
    }
}

@media screen and (min-width: 1680px) {
    .desktop-compare-table .scrollable-td:nth-child(3n) #table-header-product-name {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1920px) {
    .desktop-compare-table .scrollable-td:nth-child(3n) #table-header-product-name {
        width: 75%;
        margin: 0 auto;
    }
}

/* End: Media Query */
