.compare-section {
    min-width: 100%;
}

.desktop-compare-table {
    background-color: #F6F6F6;
}

.desktop-compare-table .compare-table-container {
    background-color: #F6F6F6;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    min-width: 100%;
    height: 100%;
    margin: 80px auto 0 auto;
}

.desktop-compare-table table.compare-table {
    table-layout: fixed;
    width: 100%;
    overflow-x: scroll;
    border-collapse: separate;
}

.desktop-compare-table th,
.mobile-compare-table th {
    font-weight: 600;
    text-align: left;
}

.desktop-compare-table .fixed-td,
.mobile-compare-table .fixed-td {
    position: sticky;
    z-index: 2;
    left: 0;
    width: 50%;
    border-right: 1px solid #C9C9C9;
}

.desktop-compare-table .fixed-hd,
.mobile-compare-table .fixed-hd {
    position: sticky;
    top: 0;
    z-index: 1;
}

.desktop-compare-table .left-top-td {
    z-index: 3;
    width: 627px;
    background-color: #F6F6F6;
}

.desktop-compare-table .scrollable-td {
    width: 150px;
    border-right: 1px solid #C9C9C9;
    text-align: center;
}

.desktop-compare-table .scrollable-td:last-of-type {
    border-right: none;
}

.desktop-compare-table .table-header-content {
    display: flex;
    flex-direction: column;
}

.desktop-compare-table img#table-header-product-image {
    width: 106px;
    height: 130px;
    margin: auto;
}

.desktop-compare-table img#table-header-brand-icon {
    width: 69.053px;
    height: 87px;
}

.desktop-compare-table .table-header-title,
.desktop-compare-table #table-header-product-name {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}


.desktop-compare-table .scrollable-td:nth-child(2n) #table-header-product-name,
.desktop-compare-table .scrollable-td:last-child #table-header-product-name {
    width: 50%;
    margin: 0 auto;
}

.desktop-compare-table #table-header-compare-title {
    color: #11223d;
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-style: normal;
    line-height: 70px;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 14px;
    text-transform: none;
}

.desktop-compare-table .right-top-th {
    margin: auto;
}

.desktop-compare-table .compare-table-row .fixed-td {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    background-color: #F6F6F6;
    border-top: 3px solid #11223D;
}

.desktop-compare-table .compare-table-row .compare-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    border-top: 3px solid #11223D;
}

.compare-value-icon {
    align-items: center;
    column-gap: 5px;
    display: inline-flex;
}

.compare-value-yes {
    color: #47933B;
}

.compare-value-some {
    color: #F38928;
}

.compare-value-no {
    color: #BA1323;
}

.mobile-table-heading {
    color: #000;
    font-family: 'Peachi-Bold';
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    border-bottom: 2px solid #11223D;
    padding-bottom: 14px;
    margin-left: 1rem;
}

/* Begin: Mobile Grid Table */
.mobile-grid-container {
    margin: 50px 0 27px 18px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
}

.mobile-grid-container .grid-heading-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(142px, 142px));
    position: relative;
    z-index: 5;
    background: #fff;
    width: 100%;
}

.mobile-grid-container .grid-heading-row--fixed {
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    position: fixed;
    top: 0;
    margin: 0 0 0 18px;
    background: #ffff;
    box-shadow: 8px -3px 6px #333333;
}

.mobile-grid-container .grid-heading-row__dummy {
    height: 0;
}

.mobile-grid-container .grid-heading-row__dummy--active {
    height: 150px;
}

.mobile-grid-container .grid-heading-row--fixed::-webkit-scrollbar {
    display: none;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data {
    padding: 0 12px 24px 12px;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data img {
    margin: auto;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data:first-child {
    border-right: 1px solid #E4E4E4;
    position: sticky;
    left: 0;
    background-color: #FFFFFF;
    height: 175px;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data:not(:first-child) {
    border-right: 1px solid #E4E4E4;
}

.mobile-grid-container .grid-heading-row .grid-heading-row-data .table-header-title {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
}

.mobile-grid-container .grid-properties-row {
    position: sticky;
    width: 100%;
    left: 0;
    display: grid;
    background-color: #f2f2f2;
}

.mobile-grid-container .grid-properties-row .grid-property-row {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    padding: 7px 6px;
    width: 400px;
    position: sticky;
    left: 0;
    z-index: 2;
}

.mobile-grid-container .grid-properties-row .grid-property-row p {
    overflow: hidden;
    position: sticky;
    left: 0;
    margin: 0;
    padding: 0 6px;
    width: 95%;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value-icon {
    line-height: 60px;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(142px, 142px));
    text-align: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value:first-child {
    border-right: 1px solid #E4E4E4;
    position: sticky;
    left: 0;
    background-color: #FFFFFF;
    z-index: 2;
}

.mobile-grid-container .grid-properties-row .grid-property-value-row .compare-value:not(:first-child) {
    border-right: 1px solid #E4E4E4;
    background-color: #fff;
    position: relative;
}

/* End: Mobile Grid Table */


/* Begin: Mobile Table */

.mobile-compare-table .left-top-td {
    z-index: 3;
    height: 175px;
    background-color: #FFFFFF;
}


.mobile-compare-table .compare-value {
    text-align: center;
    line-height: 60px;
    border-right: 1px solid #C9C9C9;
}


.mobile-compare-table .compare-value:first-child {
    position: sticky;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
}

.mobile-compare-table .scrollable-td {
    width: 150px;
    border-right: 1px solid #C9C9C9;
    text-align: center;
}

.mobile-compare-table .scrollable-td,
.mobile-compare-table .scrollable-td {
    border-right: 1px solid #C9C9C9;
    text-align: center;
    padding: 0 12px;
}

.mobile-compare-table .scrollable-td:last-of-type {
    border-right: none;
}

.mobile-compare-table .table-header-content {
    display: flex;
    flex-direction: column;
}

.mobile-compare-table img.table-header-product-image {
    width: 119px;
    height: 119px;
    margin: auto;
}


.mobile-compare-table .table-header-title,
.mobile-compare-table .table-header-product-name {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 24px;
}


.mobile-compare-table .mobile-compare-table-container {
    background-color: #FFFFFF;
    overflow: auto;
    height: 100%;
    width: 100%;
}


.mobile-compare-table .mobile-compare-table-container table.compare-table {
    table-layout: fixed;
    overflow-x: scroll;
    border-collapse: separate;
}


.first-column-heading {
    z-index: 3;
    min-width: 160px;
    height: 41px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
    border-right: 1px solid #C9C9C9;
}


.mobile-compare-table .mobile-compare-table-container table.mobile-compare-table .compare-value {
    z-index: 3;
    height: 60px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
    border-right: 1px solid #C9C9C9;
    text-align: center;
}

.table-display-block {
    background-color: #F2F2F2;
}

.property-row {
    padding: 0.5rem;
    height: 41px;
    background-color: #F2F2F2;
}


tr.compare-property-row>td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .first-column-heading {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .compare-section {
        width: 100%;
        overflow-x: hidden;
    }

    .mobile-compare-table-y {
        width: 100%;
        display: block;
    }

    .mobile-compare-table-container {
        width: 100%;
        overflow-x: scroll;
        margin: 50px 0 27px 18px;
    }

    table.mobile-compare-table {
        width: 575px;
        border-collapse: separate;
    }

    .mobile-compare-table .left-top-td {
        width: 131px
    }

    .mobile-compare-table {
        display: block;
        padding: 0;
    }

    .first-column-heading {
        border: none;
    }

    .desktop-compare-table {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile-grid-compare {
        display: none;
    }

    .mobile-compare-table {
        display: none;
    }

    .mobile-table-heading {
        display: none;
    }

    .desktop-compare-table {
        min-width: 100%;
        display: block;
        padding: 80px 60px 88px;
    }

    .desktop-compare-table .left-top-td {
        width: 407px;
    }
}

/* End: Mobile Table */

/* Begin: Media Query */

@media screen and (max-width: 320px) {
    .mobile-grid-container .grid-properties-row .grid-property-row p {
        width: 85%;
    }
}

@media screen and (min-width: 360px) and (max-width: 393px) {
    .mobile-grid-container .grid-properties-row .grid-property-row {
        left: 0;
        padding: 7px 0;
    }
    .mobile-grid-container .grid-properties-row .grid-property-row p {
        width: 85%;
        left: 12px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 767px) {
    .compare-section {
        width: 100%;
        overflow-x: hidden;
    }

    .desktop-compare-table {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .mobile-grid-compare {
        display: none;
    }
    .mobile-table-heading {
        display: none;
    }

    .desktop-compare-table {
        min-width: 100%;
        display: block;
        padding: 80px 60px 88px;
    }

    .desktop-compare-table .left-top-td {
        width: 407px;
    }
}

@media screen and (max-width: 1024px) {
    .desktop-compare-table #table-header-compare-title {
        font-size: 42px;
        line-height: 60px;
    }

    .desktop-compare-table .left-top-td {
        width: 427px;
    }

    .desktop-compare-table #table-header-compare-title {
        font-size: 38px;
        line-height: 56px;
    }
}

@media screen and (min-width: 1280px) {
    .desktop-compare-table {
        padding: 80px 104px 88px;
    }

    .desktop-compare-table .left-top-td {
        width: 627px;
    }
}

@media screen and (min-width: 1680px) {
    .desktop-compare-table .scrollable-td:nth-child(3n) #table-header-product-name {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1920px) {
    .desktop-compare-table .scrollable-td:nth-child(3n) #table-header-product-name {
        width: 75%;
        margin: 0 auto;
    }
}

/* End: Media Query */
