/* Begin: Installation Section */
.desktop-convenience-section {
    display: block;
}

.desktop-convenience-section img{
    width: 100%;
}

.mobile-convenience-section {
    display: none;
}
.desktop-convenience-section .hero-banner-title{
    color: #1B2943;
}
.desktop-convenience-section #convenience-hero-text {
    transform: translate(33%, -50%);
    background: rgb(255, 255, 255, 80%);
}
.installation-header{
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 400px;
    transform: translate(15%, -40%);
}

.installation-para {
    font-family: 'Peachi-Light';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: inherit;
    text-align: left;
    letter-spacing: -0.005em;
    transform: translate(55%, -32%);
    max-width: 418px;
}

/* End: Installation Section */

/* Begin Media Query */

@media screen and (max-width: 1800px) {
    .installation-header {
        transform: translate(45%, -40%);
    }
    .installation-para {
        transform: translate(70%, -35%);
    }
}

@media screen and (max-width: 1680px) {
    .installation-header {
        transform: translate(40%, -40%)
    }
    .installation-para {
        transform: translate(60%, -35%);
    }
}

@media screen and (max-width: 1600px) {
    .installation-header {
        transform: translate(35%, -40%)
    }
}

@media screen and (max-width: 1440px) {
    .installation-header {
        transform: translate(20%, -40%);
    }
    .installation-para {
        transform: translate(50%, -35%);
    }
}

@media screen and (max-width: 1280px) {
    .installation-header {
        transform: translate(15%, -40%);
    }
    .installation-para {
        transform: translate(42%, -35%);
    }
}

@media screen and (max-width: 1024px) {
    .desktop-convenience-section #convenience-hero-text {
        transform: translate(20%, -50%);
    }
    .installation-header {
        font-size: 40px;
        line-height: 50px;
        transform: translate(10%, -40%);
    }
    .installation-para {
        transform: translate(40%, -30%);
        font-size: 16px;
        line-height: 20px;
        max-width: 340px;
    }
}

@media screen and (max-width: 912px) {
    .desktop-convenience-section #convenience-hero-text {
        transform: translate(15%, -50%);
    }
    .installation-header {
        transform: translate(2%, -40%);
    }
    .installation-para {
        transform: translate(40%, -25%);
        font-size: 16px;
        line-height: 20px;
        max-width: 318px;
    }
}

@media screen and (max-width: 820px) {
    .installation-header {
        font-size: 32px;
        line-height: 42px;
        transform: translate(8%, -40%);
    }
    .installation-para {
        transform: translate(35%, -30%);
        font-size: 14px;
        line-height: 20px;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-convenience-section {
        display: block;
    }
    .desktop-convenience-section {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop-convenience-section #convenience-hero-text {
        transform: translate(10%, -50%);
    }
    .installation-para {
        transform: translate(35%, -30%);
        font-size: 14px;
        line-height: 20px;
        max-width: 290px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-convenience-section .mobile-convenience-section-inner-wrap{
        padding: 1em 1em 2em;
    }
    .installation-header {
        display: block;
        transform: translate(0, 0);
        max-width: 100%;
        padding-bottom: 6px;        
    }
    .installation-para {
        display: block;
        transform: translate(0, 0);        
        font-size: 24px;
        line-height: 31px;
        padding-bottom: 16px;
        max-width: 100%;
    }
}
/* End: Media Query */