
/* Begin: Contaminants Section */
.bg-grey {
    background: #f5f5f5;
}

.right_text_block ul li {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.gb_bg_color .right_text_block .right_text_heading {
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    
}

.gb_bg_color .right_text_block .right_text_description {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.005em;
    text-align: left;
    
}
/* End: Contaminants Section */

/* Begin: Discover Section */
.discover-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 5em 0 1em;
}
.discover-heading {
    width: 90%;
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    
}

.discover-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin: 1em 0 1em 0;
}
.discover-icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 0;
    padding: 0;
    margin: 1em 0 0 0;
    justify-content: center;
}
.discover-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.discover-icon img{
    margin: 0 auto;
}
.discover-icon-text {
    text-align: center;
    width: 90%;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1B2943;
}
/* End: Discover Section */

/* Begin: Filter Club Section */
.filter-club-section {
    padding: 6em 3em 4em 6em;
}
.filter-club-title {
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.filter-club-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin: 0.5em 0 1em 0;
    width: 70%;
}
ul.filter-club-list {
    list-style-type: none;
    margin-bottom: 1em;
}

.filter-club-list-item {
    padding: 1em 3em 1em 0;
    border-top: 1px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    color: #000;
}

.filter-club-list-text {
    margin: auto 0 !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.filter-club-btns {
    display: flex;
    align-items: center;
}

.filter-club-anouncement {
    padding: 1em;
    background-color: #e1e9eb;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #1b2943;
}

.membership-bold-text {
    font-weight: 700;
}

.learn-more-btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
    color: #1B2943;
    background-color: transparent;
    text-decoration: underline;
}

.filter-shop-btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 15px;
    padding: 12px 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
/* End: Filter Club Section */

/* Begin: Temperature & Volume Control Section */
.text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 6em 0 1em;
}
.text-section-title {
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    width: 90%;
}
.text-section-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding: 0 3em 0 0;
    /* width: 82%; */
}
.text-section-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0;
    padding: 0;
    margin: 2em 0 0;
    column-gap: 5em;
    justify-content: flex-start;
}
.text-section-icon {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 1em;
    align-items: baseline;
}
.text-section-icon img{
    margin: 0 auto;
}
.text-section-icon-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #1B2943;
}
/* End: Temperature Section */

/* Begin: Media Query */
@media screen and (max-width: 425px) {
    .filter-club-img {
        padding: 5em 0 2em 5em;
    }

    .filter-club-title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
    }

    .filter-club-description {
        font-style: normal;
        font-weight: 510;
        font-size: 16px;
        line-height: 24px;
    }
    .filter-club-list-icon svg {
        width: 48px;
        height: 48px;
    }

    .filter-club-list-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .subscribe-btn button, .filter-club-learn-more-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 540px) {
    .discover-section {
        width: 100%;
        padding: 0 2em 3em 1em;
    }
    .discover-heading {
        width: 100%;
        padding: 2em 0 0 0;
    }

    .discover-description {
        font-size: 16px;
        line-height: 24px;
    }

    .discover-icons {
        margin-top: 1em 0 0;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;
    }

    .discover-icon-text {
        font-size: 16px;
        line-height: 24px;
        padding-left: 1em;
        padding-right: 1em;
    }
    .filter-club-description {
        width: 100%;
    }
}

@media (max-width:640px){
    .learn-more{
        flex-direction: column-reverse;
    }

    .learn-more-container{
        padding: 2rem;
    }

    .learn-more-header{
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        margin-bottom: 1rem;
    }

    .learn-more-content{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        margin-bottom: 1rem;
    }

    .learn-more-sec-btn{
        padding: 1rem;
        background-color: transparent;
        color: #1376BC;
        border-color: #1376BC;
    }
}

@media screen and (max-width: 767px) {
    .gb_bg_color .right_text_block .right_text_heading {
        font-size: 52px;
        font-weight: 300;
    }

    .discover-main-section, .text-main-section {
        display: block;
    }

    .volume-main-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .discover-section {
        width: 100%;
        padding: 0 5em 3em 2em;
    }

    .discover-icons, .discover-icons .discover-icon:nth-of-type(2) img {
        margin-top: 0;
    }

    .discover-icons {
        margin-top: 1em 0 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .discover-icons{
        display: flex;
        flex-wrap: wrap;
    }

    .discover-icon{
        flex: 1 1 50%;
    }

    .filter-club-section {
        width: 100%;
        padding: 1em 2em 1em;
    }

    .filter-club-img {
        padding: 5em 0 5em 5em;
    }

    .filter-club-btns {
        display: flex;
        column-gap: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        row-gap: 2em;
    }

    .subscribe-btn button{
        width: 100%;
        text-align: center;
    }

    .filter-club-learn-more-btn {
        text-align: center;
    }

    .filter-club-anouncement {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .discover-description {
        font-size: 16px;
        line-height: 32px;
    }
    .discover-icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .discover-icon-text {
        font-size: 12px;
        line-height: 18px;
        margin-left: 2px;
        width: 100%;
    }
    .discover-icons .discover-icon img {
        width: 82px;
        height: 82px;
    }

}

@media screen and (min-width: 320px) {
    .gb_bg_color .right_text_block .right_text_heading {
        font-size: 28px;
        line-height: 38px;
    }
    
    .gb_bg_color .right_text_block .right_text_description {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.005em;
    }

    .contaminants-list{
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

    .learn-more-btn {
        font-size: 14px;
    }

    .discover-heading{
        font-size: 24px;
        line-height: 2.5rem;
        max-width: 12rem;
    }

    .discover-section {
        padding: 0 16px 3em 16px;
    }
    
    .text-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3.5em 1em;
    }
    .text-section-title {
        font-size: 32px;
        line-height: 41px;
    }
    .text-section-description {
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        margin-top: 1em;
    }
    .text-section-icons {
        margin: 1em 0 0;
        column-gap: 1em;
    }
    .text-section-icon {
        display: flex;
        flex-direction: column;
        justify-content: end;
        row-gap: 1em;
        align-items: baseline;
        transform: scale(0.75);
    }
    .text-section-icon-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
}

@media screen and (min-width: 360px) {
    .discover-section {
        padding: 0 1em 3em;
    }
    .discover-icon-text {
        padding-left: 1em;
        padding-right: 2em;
        margin-left: 10px;
    }
    .learn-more-btn {
        font-size: 16px;
    }
}

@media screen and (min-width: 375px) {
    .discover-icon-text {
        padding-left: 1em;
        padding-right: 3em;
        margin-left: 17px;
    }
    .learn-more-btn {
        font-size: 17px;
    }
}

@media screen and (min-width: 390px) {
    .discover-section {
        padding: 0 1em 3em 1em;
    }
    .learn-more-btn {
        font-size: 18px;
    }
}

@media screen and (min-width: 412px) {
    .gb_bg_color .right_text_block .right_text_heading {
        font-size: 32px;
        line-height: 41px;
    }
    
    .gb_bg_color .right_text_block .right_text_description {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.005em;
    }

    .contaminants-list{
        font-size: 14px;
    }

    .discover-icon-text {
        padding-left: 1em;
        padding-right: 4em;
        margin-left: 28px;
    }
    .learn-more-btn {
        font-size: 19px;
    }

    .discover-heading{
        font-size: 30px;
        line-height: 2.75rem;
        max-width: 18rem;
    }

    .discover-section{
        padding: 0 2em 3em;
    }
}

@media screen and (min-width: 425px) {
    .learn-more-btn {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .img-sec{
        flex:1 0 50%;
    }

    .contaminants-list{
        font-size: 20px;
        font-weight: 510;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    .discover-section {
        padding: 10px 26px 14px 8px;
    }
    .discover-description {
        font-size: 14px;
        line-height: 20px;
    }

    .discover-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        padding: 0;
        margin-left: -1em;
        justify-content: center;
        align-items: baseline;
    }
    .discover-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .discover-icon:nth-of-type(3) {
        margin-top: -12px;
    }
    .discover-icons .discover-icon img {
        width: 72px;
        height: 72px;
    }
    .discover-icon-text {
        padding-left: 1em;
        padding-right: 3em;
        margin-left: 10px;
        font-size: 8px;
        line-height: 12px;
        width: 100%;
    }
    .filter-club-section {
        padding: 6em 0em 4em 3em;
    }
    .filter-club-flex {
        display: flex;
        flex-direction: row-reverse;
    }
    .filter-club-description {
        width: 100%;
    }
    .filter-club-img {
        width: 80%;
        padding-left: 1em;
    }
    .learn-more-container {
        flex:1 0 50%;
    }
    .learn-more-sec-btn{
        padding: 0.75rem 1.15rem;
        font-size: 0.75rem;
    }
    #volume-control-section {
        padding-left: 3.5em;
    }
}

@media screen and (min-width: 820px) {
    .discover-section {
        padding: 0px 12em 1em 12px;
        /* padding: 0 2em 1em 0; */
    }

    .discover-description {
        font-size: 12px;
        line-height: 22px;
    }
    .discover-icons {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        padding: 0;
        margin-left: -1em;
        justify-content: center;
        align-items: baseline;

    }
    .discover-icons .discover-icon img {
        width: 62px;
        height: 62px;
        margin: 0 auto;
    }
    .discover-icon-text {
        padding-left: 1em;
        padding-right: 3em;
        margin-left: 12px;
        font-size: 10px;
        line-height: 14px;
        width: 100%;
    }
    .discover-icons .discover-icon:nth-of-type(2) img {
        padding: 0;
    }
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 0;
        padding: 0;
    }
}

@media screen and (min-width: 912px) {
    .discover-icons .discover-icon:nth-of-type(2) img,
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 12px;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .contaminants-list{
        font-size: 24px;
    }

    .discover-section {
        padding: 0 7em 0em 6px;
    }

    .discover-icon-text {
        font-size: 9px;
    }
    .discover-heading{
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
    }

    .discover-description {
        font-size: 16px;
        line-height: 24px;
    }
    .discover-icons .discover-icon:nth-of-type(2) img {
        margin-top: 0;
    }
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 12px;
    }
    .filter-club-section {
        padding: 6em 0em 4em 3em;
        width: 40%;
    }
    .filter-club-img {
        width: 50%;
        padding: 5em 0 2em 3em;
    }
    .filter-club-description {
        width: 70%;
    }
    .text-section-title {
        font-size: 40px;
        line-height: 58px;
    }
    .text-section-description {
        padding: 0;
        font-size: 20px;
        line-height: 36px;
    }
    .text-section-icons {
        margin: 1em 0 0;
        column-gap: 3em;
    }
    .text-section-icon {
        display: flex;
        flex-direction: column;
        justify-content: end;
        row-gap: 1em;
        align-items: baseline;
        transform: scale(0.8);
    }
    .text-section-icon-text {
        font-size: 20px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1200px) {
    .gb_bg_color .right_text_block .right_text_heading {
        font-size: 52px;
        font-weight: 300;
        line-height: 51px;
    }
}

@media screen and (min-width: 1280px) {
    .discover-heading {
        font-size: 47px;
        line-height: 58px;
    }
    .discover-description {
        font-size: 22px;
        line-height: 34px;
    }
    
    .discover-icons {
        margin-top: -10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        padding: 0;
        margin-left: -1em;
        justify-content: center;
    }
    .discover-icons .discover-icon img {
        width: 92px;
        height: 92px;
        margin: 0 auto;
    }
    .discover-icon:nth-of-type(3) {
        margin-top: 0;
    }
    .discover-icons .discover-icon:nth-of-type(2) img,
    .discover-icons .discover-icon:nth-of-type(3) img {
        padding: 0;
        margin-top: 0;
    }
    .discover-icon-text {
        font-size: 13px;
        line-height: 15px;
    }
    .filter-club-section {
        padding: 6em 2em 4em 6em;
        width: 40%;
    }
    .filter-club-description {
        width: 100%;
    }
    .filter-club-img {
        width: 50%;
        padding: 5em 0 2em 6em;
    }
    .text-section-title {
        font-size: 52px;
        line-height: 70px;
    }
    .text-section-description {
        font-size: 20px;
        line-height: 36px;
        padding: 0 3em 0 0;
    }
    .text-section-icons {
        column-gap: 4em;
        margin: 2em 0 0;
    }
    .text-section-icon {
        transform: scale(1);
    }
    #volume-control-section {
        padding-left: 6em;
    }
}

@media screen and (min-width: 1440px) {
    .discover-icon-text {
        font-size: 14px;
        line-height: 24px;
        margin-left: 15px;
    }
    .discover-icon-text:nth-of-type(2) {
        padding-left: 28px
    }
    .discover-icons .discover-icon:nth-of-type(2) img {
        margin-top: 20px;
    }
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 0;
    }
    .filter-club-img {
        width: 50%;
        padding: 7em 0 2em 10em;
    }
    .filter-club-section {
        padding: 6em 6em 4em;
        width: 40%;
    }
    .learn-more-sec-btn{
        padding: 1.25rem 2.5rem;
        font-size: 1.5rem
    }
    .text-section-description {
        padding: 0 5em 0 0;
    }
}

@media screen and (min-width: 1536px) {
    .discover-icons .discover-icon:nth-of-type(2) img,
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 0;
    }
    .filter-club-section {
        padding: 2em 12em 0 6em;
        width: 40%;
    }
    .filter-club-img img {
        padding: 8em 0 5em 0em;
    }

    .filter-club-section {
        padding: 2em 2em 0em 6em;
    }
    
    .filter-club-section {
        padding: 2em 2em 0em 6em;
    }
    .text-section-description {
        padding: 0 8em 0 0;
    }
}

@media screen and (min-width: 1600px) {
    .discover-icons .discover-icon:nth-of-type(2) img {
        margin-top: 20px;
    }
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 0;
    }
    .learn-more-container{
        padding-top: 7rem;
    }

    .learn-more-header{
        font-size: 4rem;
    }
    
    .learn-more-content{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .text-section-description {
        padding: 0 9em 0 0;
    }
}

@media screen and (min-width: 1900px) {
    .discover-icons .discover-icon:nth-of-type(2) img {
        margin-top: 20px;
    }
    .discover-icons .discover-icon:nth-of-type(3) img {
        margin-top: 0;
    }
    .learn-more-container{
        padding-top: 10rem;
    }
}
/* End: Media Query */
