/* Begin: Specifications */
.specifications-section {
    padding: 3em 4.5em;
}
.specification-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
}
.specification-heading h1{
    font-family: 'Peachi-Bold';
    font-size: 52px;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-bottom: 0.5em;
}
.specification-heading .arrow-down-icon {
    display: none;
}
.specification-content {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDDDDD;
    padding: 2.5em 0 2.3em 0;
}

.specification-text {
    display: flex;
    flex-direction: column;
    column-gap: 4em;
}

.specification-text .spec-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    row-gap: 0.5rem;
}

.specification-text .spec-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.specification-text .spec-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    width: max-content;
}

/* End: Specifications */

/* Begin: Media Query */


@media screen and (max-width: 820px) {
    .specifications-section {
        padding: 1.5em;
    }
    .specification-heading h1{
        font-size: 39px;
        line-height: 57.6px;
    }
    .specification-heading .arrow-down-icon {
        display: block;
    }

    .specification-content {
        flex-direction: column;
        display: flex;
    }

    .specification-text .spec-title {
        font-size: 12px;
        line-height: 16.39px;
    }

    .specification-text .spec-description {
        font-size: 16px;
        line-height: 22px;
    }
    .column-four .spec-wrap:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 900px) {
    .specification-content {
        column-gap: 2em;
    }
    .specification-text .spec-title {
        font-size: 12px;
        line-height: 18px;
    }
    .specification-text .spec-description {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .specification-content {
        column-gap: 0;
    }
    .specification-text .spec-title {
        font-size: 16px;
        line-height: 22px;
    }
    .specification-text .spec-description {
        font-size: 20px;
        line-height: 36px;
    }
    .specification-text:first-of-type {
        margin-right: 80px;
    }
    .specification-text:nth-of-type(2) {
        margin-right: 80px;
    }
    .specification-text:nth-of-type(3) {
        margin-right: 99px;
    }
}

/* End: Media Query */