/* Begin: Specifications */
.specifications-section {
    padding: 2em 4.5em;
}

.specification-heading {
    font-family: 'Peachi-Bold';
    font-size: 52px;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-bottom: 0.5em;
}

.specification-content {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 2em 0;
}

.specification-text {
    display: flex;
    flex-direction: column;
    column-gap: 4em;
}

.specification-text .spec-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.specification-text .spec-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.specification-text .spec-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/* End: Specifications */

/* Begin: Media Query */

@media screen and (max-width: 540px) {
    .specifications-section {
        padding: 1.5em;
    }
    .specification-heading {
        font-size: 39px;
        line-height: 57.6px;
    }

    .specification-content {
        flex-direction: column;
    }

    .specification-text .spec-title {
        font-size: 12px;
        line-height: 16.39px;
    }

    .specification-text .spec-description {
        font-size: 18px;
        line-height: 24.59px;
    }
    .column-three .spec-wrap:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .specification-text:first-of-type {
        margin-right: 98px;
    }

    .specification-text:nth-of-type(2) {
        margin-right: 20px;
    }
}

@media screen and (min-width: 820px) {
    .specification-text:nth-of-type(2) {
        margin-right: 24px;
    }    
}

@media screen and (min-width: 1536px) {
    .specification-text:first-of-type {
        margin-right: calc(98px * 2);
    }

    .specification-text:nth-of-type(2) {
        margin-right: calc(20px * 4);
    }
}


/* End: Media Query */