.image-carousel {
    border: 1px solid #DDDDDD;
}
.product-image-carousel {
    width: 57% !important;
} 
.box-content-image-carousel {
    width: 100% !important;
    border: none;
}

/* Begin: Swiper */
@media screen and (max-width: 541px) {
    .swiper-button-prev ,.swiper-button-next{
       display: none !important;
       width: 10% !important;
       height: 11% !important;
    }
    .swiper-button-prev{
        margin-left: 2%;
    }
    .swiper-button-next{
        margin-right: 2%;
    }


}
@media screen and (min-width: 541px) {
    .swiper-pagination  {
       display: none !important;
    }
}

.swiper-button-prev, .swiper-button-next  {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50px;
    background: #1B2943;
    padding: 13.5px;
    position: absolute;
    border: 3.23px solid #1B2943;
    bottom: 0;
}
.swiper-pagination-bullet {
    cursor: pointer;
    background: #1B2943 !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100% !important;
}
.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-button-next:after, .swiper-button-prev:after {
    color: #E1E9EB;
    font-size: 14px !important;
    font-weight: 900;
}

.swiper-button-prev:hover ,.swiper-button-next :hover {
    background: #1B2943;
}

.swiper-button-disabled {
    background:  #DBE3E9;
    border: 3.23px solid  #DBE3E9;
    opacity: 1 !important;
}
.swiper-button-prev{
    margin: 1em 1em 1em 2em;
}
.swiper-button-next  {
    margin: 1em 2em 1em 1em;
}

.swiper-button-disabled:after{
    color: #A9A9A9;
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}

/* End: Swiper*/
/* Begin: Flickity */
.flickity-enabled {
    outline: none;
    overflow: hidden;
    position: relative;
}

.flickity-prev-next-button {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #1B2943;
    padding: 13.5px;
    position: absolute;
    margin: 1em 1em 1em 2.8em;
    border: 3.23px solid #1B2943;
    bottom: 0;
}

.flickity-prev-next-button:hover {
    background: #1B2943;
}

.flickity-button:disabled {
    background: #fff;
    border: 3.23px solid #A9A9A9;
    margin: 1em 1em 1em 2.8em;
}

.flickity-button:disabled .arrow {
    fill: #A9A9A9;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

/* position outside */
.flickity-prev-next-button.previous {
    margin-left: auto;
    left: 3em;
    position: absolute;
    bottom: 45%;
}

.flickity-prev-next-button.next {
    margin-right: auto;
    right: 3em;
    position: absolute;
    bottom: 45%;
}

/* Fade effect */
.product-image-carousel .flickity-enabled .flickity-viewport .flickity-slider .slider{
    transform: none !important;
}

.product-image-carousel .flickity-enabled .flickity-viewport .flickity-slider {
    transform: none !important;
}

.product-image-carousel .flickity-enabled .flickity-viewport .flickity-slider .slider {
    left: 0 !important;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}
.product-image-carousel .flickity-enabled .flickity-viewport {
    transform: scale(0.85);
}

.product-image-carousel .flickity-enabled .flickity-viewport .flickity-slider .slider.is-selected {    
    opacity: 1;
    z-index: 0
}

/* End: Flickity */

/* Begin: Box Contents Section */
.box-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F9F9;
    padding-top: 3.1em;
}

.box-content-heading {
    font-family: 'Peachi-Bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

.box-contents {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 5em;
}

.vertical-line {
    height: 350px;
    border-left: 1px solid #DDDDDD;
    position: absolute;
    left: 50%;
}

.content-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #555555;
}

.box-content-flickity {
    padding-top: 4em;
}
/* End: Box Contents Section */

/* Begin: Media Query */

@media screen and (min-width: 1200px) {
    .swiper-button-prev, .swiper-button-next{
        width: 60px !important;
        height: 60px !important;
    }
}
@media screen and (min-width: 1536px) {
    .product-image-carousel .flickity-enabled .flickity-viewport {
        left: 5%;
        position: relative;
    }
}

@media screen and (max-width: 1024px) {
    .vertical-line {
        left: 49%;
    }
}

@media screen and (max-width: 912px) {
    .flickity-prev-next-button.previous {
        left: 1em;
    }
    .flickity-prev-next-button.next {
        right: 1em;
    }
}

@media screen and (max-width: 820px) {
    .flickity-prev-next-button.previous {
        bottom: 40%;
    }
    .flickity-prev-next-button.next {
        bottom: 40%;
    }
    .vertical-line {
        left: 48.5%;
    }
}

@media screen and (min-width: 768px) {
    .flickity-page-dots {
        display: none;
    }
    .key-features-inner {
        display: flex;
        margin: auto;
        width: 90%;
    }
    .box-content-flickity {
        display: none;
    } 
}
@media screen and (min-width: 913px) {
    .key-features-inner {
        display: flex;
        margin: auto;
        width: 100%;
    }
  
}

ol.flickity-page-dots > li.dot::marker {
    display: none;
    color: transparent;
}

@media screen and (max-width: 540px) {
    .image-carousel {
        border: none;
    }

    .image-carousel.flickity-viewport {
        height: 400px !important;
        width: 100%;
        touch-action: pan-y;
        transform: scale(0.9);
    }

    .flickity-prev-next-button {
        display: none;
    }

    /* position dots in gallery */
    .flickity-page-dots {
        display: flex;
        column-gap: 2em;
        justify-content: center;
        vertical-align: top;
        bottom: 2em;
        position: relative;
        list-style-type: circle;
    }
    /* white circles */
    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
        opacity: 1;
        border: 2px solid #E1E9EB;
        background: #E1E9EB;
        border-radius: 50px;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
        background: #1B2943;
        border: 2px solid #1B2943;
        border-radius: 50px;
    }
    ol.flickity-page-dots>li.dot::marker {
        display: none;
        color: transparent;
    }
    .box-content-section {
        padding-top: 2rem;
    }
    .box-contents {
        display: none;
    }
    .box-content-flickity {
        padding-top: 4.1em;
        height: 590px;
    }
    .box-content-flickity .flickity-viewport .flickity-slider .slider:nth-child(2) img {
        bottom: 3em;
        position: relative;
    }
    .box-content-flickity .flickity-viewport {
        top: 4em;
        position: relative;
        transform: scale(1.46);
        height: 460px !important;
    }
    .box-content-flickity .flickity-page-dots {
        display: flex;
        column-gap: 1em;
        justify-content: center;
        vertical-align: top;
        bottom: -2em;
        position: relative;
        list-style-type: circle;
        padding: 1em 0;
        background-color: #ffffff;
    }
    .box-content-heading {
        font-size: 32px;
    }
    .content-text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 1.5rem;
        margin-top: 2.25rem;
    }
    .product-image-carousel {
        width: 100% !important;
    }
}

@media screen and (max-width: 425px) {
    .box-content-flickity {
        height: 545px !important;
        padding-top: 0;
    }
    .box-content-flickity .flickity-viewport .flickity-slider .slider:nth-child(2) img {
        bottom: 0;
    }
    .box-content-flickity .flickity-viewport {
        transform: scale(1.09);
        height: 505px !important;
        padding-top: 0;
        position: relative;
        top: 4.15em;
    }
    .box-content-flickity .flickity-page-dots {
        bottom: 0;
    }
    .box-content-flickity .slider .content-text{
        margin-top: 1.25rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .box-content-flickity {
        height: 400px !important;
        padding-top: 0;
    }

    .box-content-flickity .flickity-viewport {
        transform: scale(.9);
        top: 0;
        height: 360px !important;
        padding-top: 0;
        position: relative;
    }
    .box-content-flickity .slider .content-text{
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* End: Media Query */
