/* Begin: Featured Products Section */

.featured-products-home {
    background-color: #fff;
    padding: 0;
    margin-top: 80px;
}

.featured-products-home .card-wrapper {
    padding: 0;
    gap: 0;
}

.featured-products-home .product-card-wrapper {
    color: #000;
}

.featured-products-home .single-product-card-wrapper {
    border-right: 1px solid #E2E2E2;
}

.featured-products-home .single-product-card-wrapper {
    padding: 0 187px 0 104px;
}

.featured-products-home .multiple-product-card-wrapper {
    padding: 0 104px 0 187px;
}

.featured-products-home .product-card {
    /* background-color: #F9F9F9; */
    padding: 30px 40px 0;
}

.featured-products-home .product-card-wrapper h3 {
    font-family: 'Peachi-Light';
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    min-height: 52px;
}

.featured-products-home .product-card-wrapper .card-image {
    border-bottom: 1px solid #E2E2E2;
    background: none;
    padding-bottom: 10px;
}

.featured-products-home .product-card-wrapper .card-image:before {
    box-shadow: none;
}

.featured-products-home .product-card-wrapper .price {
    font-weight: 500;
    line-height: 43.71px;
    min-height: 52px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 32px;
}

.featured-products-home .product-card-wrapper select {
    border-color: #DDDDDD;
    padding: 13px 20px;
    padding-right: 2.5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.featured-products-home .product-card-wrapper select:focus {
    box-shadow: none;
}

.featured-products-home .product-card-wrapper:not(:last-child) {
    border-right: 1px solid #C0C0C0;
}

.featured-products-home .cta-wrapper {
    /* background-color: #F9F9F9; */
    padding: 0 40px 30px;
}

.featured-products-home .cta-wrapper form {
    width: 100%;
}

.featured-products-home .cta-wrapper a {
    text-decoration: underline;
    color: #1b2943;
    margin-top: 25px;
    text-transform: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
}

/* End: Featured Products Section */

/* Begin: Media Query */
@media (max-width: 1024px) {
    .featured-products-home .product-card-wrapper {
        padding: 0 50px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .featured-products-home .product-card-wrapper {
        padding: 0 20px;
    }

    .featured-products-home .product-card-wrapper h3 {
        font-size: 32px;
        line-height: 41px;
    }

    .featured-products-home .product-card-wrapper select {
        padding: 13px 12px;
        padding-right: 1.8rem;
        font-size: 16px;
    }

    .featured-products-home .product-card {
        padding: 30px 30px 0;
    }

    .featured-products-home .cta-wrapper {
        padding: 0 30px 30px;
    }
}

@media (max-width: 768px) {
    .featured-products-home {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .swimlane {
        width: auto;
    }

    .featured-products-home .card-wrapper {
        display: flex;
        margin: 0 1em;
        flex-direction: column;
        row-gap: 4em;
    }

    .featured-products-home .product-card-wrapper {
        padding: 0;
    }

    /* .featured-products-home .product-card-wrapper:first-child { */
    .featured-products-home .single-product-card-wrapper {
        border-bottom: 1px solid #E2E2E2;
        border-right: none;
        padding-bottom: 4em;
    }
    .featured-products-home .product-card-wrapper:not(:last-child) {
        margin-bottom: 30px;
        border: none;
    }

    .featured-products-home .product-card-wrapper h3 {
        min-height: auto;
        font-size: 32px;
        line-height: 41px;
    }
}

/* End: Media Query */