/* Begin: Featured Products Section */

.featured-products-home {
    background-color: #fff;
    padding: 0;
    margin-top: 80px;
}

.featured-products-home .card-wrapper {
    padding: 0;
    gap: 0;
}

.featured-products-home .product-card-wrapper {
    color: #000;
}

.featured-products-home .single-product-card-wrapper {
    border-right: 1px solid #E2E2E2;
}

.featured-products-home .single-product-card-wrapper {
    padding: 0 187px 0 104px;
}

.featured-products-home .multiple-product-card-wrapper {
    padding: 0 104px 0 187px;
}

.featured-products-home .product-card {
    /* background-color: #F9F9F9; */
    padding: 30px 40px 0;
}

.featured-products-home .product-card-wrapper h3 {
    font-family: 'Peachi-Light';
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    width: 65%;
    margin: auto;
    color: #0b2340;
}

.featured-products-home .product-card-wrapper .card-image {
    border-bottom: 1px solid #E2E2E2;
    background: none;
    padding-bottom: 10px;
}

.featured-products-home .product-card-wrapper .card-image:before {
    box-shadow: none;
}

.featured-products-home .product-card-wrapper .price {
    font-weight: 500;
    line-height: 43.71px;
    min-height: 52px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 32px;
}


.featured-products-home .product-card-wrapper select {
    border-color: #DDDDDD;
    padding: 13px 20px;
    padding-right: 2.5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.featured-products-home .product-card-wrapper select:focus {
    box-shadow: none;
}

.featured-products-home .product-card-wrapper:not(:last-child) {
    border-right: 1px solid #C0C0C0;
}

.featured-products-home .cta-wrapper {
    padding: 0 40px 30px;
}

.featured-products-home .cta-wrapper form {
    width: 100%;
}

.featured-products-home .cta-wrapper a {
    text-decoration: underline;
    color: #0b2340;
    margin-top: 25px;
    text-transform: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
}

/* End: Featured Products Section */

/* Begin: Media Query */
@media screen and (min-width: 2000px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 50%;
    }
}

@media screen and (min-width: 1900px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 40%;
    }
}
@media screen and (min-width: 1600px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 50%;
    }
}
@media screen and (max-width: 1280px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 85%;
    }
}
@media screen and (max-width: 1200px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .featured-products-home .product-card-wrapper {
        padding: 0 50px;
    }
    .featured-products-home .product-card-wrapper h3 {
        width: 45%;
    }

}
@media (max-width: 912px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 50%;
    }
}
@media (max-width: 820px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .featured-products-home .product-card-wrapper .price {
        line-height: 1;
        min-height: unset;
        font-size: 24px;
    }
}


@media(min-width:768px) and (max-width:1024px) {
    .featured-products-home .product-card-wrapper {
        padding: 0 20px;
    }

    .featured-products-home .product-card-wrapper h3 {
        font-size: 32px;
        line-height: 41px;
    }

    .featured-products-home .product-card-wrapper select {
        padding: 13px 12px;
        padding-right: 1.8rem;
        font-size: 16px;
    }

    .featured-products-home .product-card {
        padding: 30px 30px 0;
    }

    .featured-products-home .cta-wrapper {
        padding: 0 30px 30px;
    }
}

@media (max-width: 768px) {
    .featured-products-home {
        margin-top: 0;
    }
    .featured-products-home .product-card-wrapper h3 {
        width: 65%;
    }
}

@media (max-width: 767px) {
    .swimlane {
        width: auto;
    }

    .featured-products-home .card-wrapper {
        display: flex;
        margin: 0 1em;
        flex-direction: column;
        row-gap: 4em;
    }

    .featured-products-home .product-card-wrapper {
        padding: 0;
    }

    /* .featured-products-home .product-card-wrapper:first-child { */
    .featured-products-home .single-product-card-wrapper {
        border-bottom: 1px solid #E2E2E2;
        border-right: none;
        padding-bottom: 2em;
    }
    .featured-products-home .product-card-wrapper:not(:last-child) {
        margin-bottom: 30px;
        border: none;
    }

    .featured-products-home .product-card-wrapper h3 {
        min-height: auto;
        font-size: 32px;
        line-height: 41px;
        width: 70%;
    }

}
@media (min-width: 396px) and (max-width: 415px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 60%;
    }
}
@media (min-width: 376px) and (max-width: 395px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 65%;
    }
}

@media (max-width: 320px) {
    .featured-products-home .product-card-wrapper h3 {
        width: 90%;
    }
}

/* End: Media Query */