/* Begin: Video Section */

.video-player-wrapper {
    position: relative;
}

.video-player-wrapper img.video-thumbnail {
    width: 100%;
    height: 100%;
}

.video-player-wrapper svg.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-player-wrapper iframe,
.video-player-wrapper video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* End: Video Section */

/* Begin: Media Query */
@media screen and (max-width: 540px) {
    .video-player-wrapper svg.play-icon {
        width: 75px;
        height: 75px;
    }
}
/* End: Media Query */