/* Begin: Faq Section */
.main_content_heading{
    font-size: 32px;
    color: #000;
    line-height: 1.2;
}
.faq_section_wrapper .icon_with_text img{
    width: 80px;
    height: 80px;
}
.tabs_with_icons{
    padding-bottom: 2rem;
}
.tabs_with_icons button[aria-selected="false"]{
    margin: 1rem 1.5rem;
    border: 1px solid #CACACA;
    border-radius: 10px;
    width: 156px;
    height: 156px;
    display: inline-block;
    white-space: break-spaces;
}
.tabs_with_icons button[aria-selected="true"]{
    margin: 1rem 1.5rem;
    border: 2px solid #CACACA;
    border-radius: 10px;
    width: 156px;
    height: 156px;
    display: inline-block;
    white-space: break-spaces;
    word-wrap: break-word;
}
.tabs_with_icons .p-4[role="tabpanel"]{
    padding: 0;
}
.tabs_with_icons .custom_content{
    border-top: 0;
}
.font-text-22{
    font-size: 22px;
}
.font-text-28{
    font-size: 28px;
    line-height: 1.2;
}
.font-text-32{
    font-size: 32px;    
}
.tracking-wide{
    letter-spacing: 0.025em;
}
.tabs_with_icons svg[data-testid="flowbite-accordion-arrow"] {
    border-radius: 50%;
    stroke-width: 0;
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 1.5px solid #1376BC;
}
.tabs_with_icons .accordion_heading h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    flex: 1 0 80%;
}
.tabs_with_icons .custom_content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: calc(100% - 10%);
}
.tabs_with_icons [data-testid="flowbite-accordion"] button, 
.tabs_with_icons [data-testid="flowbite-accordion"] .custom_content{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
}
.tabs_with_icons [data-testid="flowbite-accordion"] button{
    padding: 18px 0;
}
.tabs_with_icons svg[data-testid="flowbite-accordion-arrow"] {
    border-radius: 50%;
    stroke-width: 0;
    padding: 4px;
    flex: 0 0 10%;
    border: 1.5px solid #1B2943;
    height: 100%;
}
.tabs_with_icons .tab__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1B2943;
}
.tabs_with_icons button:first-child{
    margin-left: 0;
}
.tabs_with_icons button:last-child{
    margin-right: 0;
}


.accordion-main .accordion-item {
    padding: 0 0 6px 0;
    border-bottom: 1px solid #D3D3D3;
}
.accordion-main .accordion-title {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-main .accordion-item .accordion-title svg{
    transition: all .3s ease-in-out;
    flex: 1 0 10%;
}
.accordion-main .accordion-item.accordion-open .accordion-title svg{
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}
.accordion-main .accordion-title h5 {
    margin: 0;
    flex: 1 0 90%;
}
.accordion-main .accordion-body {
    overflow: hidden;    
    padding: 0;
    height: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
}
.accordion-main .accordion-item.accordion-open .accordion-body {
    visibility: visible;
    height: auto;
    opacity: 1;
    padding: 10px 0;
}

/* End: Faq Section */

/* Begin: Media Query */
@media screen and (max-width: 767px) {
    .accordion-main .accordion-item .accordion-title svg,
    .accordion-main .accordion-item.accordion-open .accordion-title svg
    {
        width: 28px;
        height: 28px;
    }
    .accordion-main .accordion-title:first-of-type {
        padding-top: 13px !important;
    }
}
@media screen and (min-width:768px) {
    .accordion-main .accordion-item.accordion-open .accordion-body {
        padding: 0 0 20px 0;
    }
    .accordion-main .accordion-item {
        padding: 16px 0;
    }
    .accordion-main .accordion-title{
        font-size: 30px;
        align-items: flex-start;
    }
    .tabs_with_icons [data-testid="flowbite-accordion"] button{
        padding: 22px 0;
    } 
}
@media screen and (min-width:1200px) {    
    .tabs_with_icons{
        padding-bottom: 4rem;
    }
    .tabs_with_icons .tab__title{
        font-size: 18px;
    }
    .main_content_heading{
        font-size: 52px;
        width: 36%;
    }
    .faq_section_wrapper .icon_with_text{
        margin-top: -8px;
    }
}
@media screen and (max-width:1439px){
    .tabs_with_icons[role="tablist"]{
        display: block;
        overflow: scroll;
        max-width: 86vw;
        white-space: nowrap;
        padding-bottom: 1rem;
    }
    .tabs_with_icons button:first-child{
        margin-left: 0;
    }
    .tabs_with_icons button:last-child{
        margin-right: 0;
    }
}
/* End: Media Query */

