.filter_club_support_info{
    
}
.filter_club_support_info .filter_club_support_info_bg{
    padding: 3em 1em;
}
.filter_club_support_info .left_background{
    color: #020202;
}
.filter_club_support_info .right_background{
    background: #1B2943;
    color: #ffffff;
}
.filter_club_support_info .filter_club_support_info_bg .support_icon{
    margin-bottom: 24px;
}
.filter_club_support_info .filter_club_support_info_bg .support_info h2{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}
.filter_club_support_info .filter_club_support_info_bg .support_info p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media(min-width:1200px){
    .filter_club_support_info .filter_club_support_info_bg{
        padding: 6em;
    }
    .filter_club_support_info .filter_club_support_info_bg .support_info h2{
        font-size: 52px;
        line-height: 70px;
        width: 75%;
    }
    .filter_club_support_info .filter_club_support_info_bg .support_info p{
        font-size: 20px;
        line-height: 36px;
    }
}