.filter_club_faq button[aria-selected="false"]{
    margin-bottom: 3.5rem;
    border: 1px solid #CACACA;
    border-radius: 10px;
    width: 156px;
    height: 156px;
}
.filter_club_faq button[aria-selected="true"]{
    margin-bottom: 3.5rem;
    border: 2px solid #1376BC;
    border-radius: 10px;
    width: 156px;
    height: 156px;
}
.filter_club_faq .p-4[role="tabpanel"]{
    padding: 0;
}
.filter_club_faq .custom_content{
    border-top: 0;
}
.filter_club_faq .filter_club_main_heading{
    font-size: 32px;
    line-height: 41px;
    color: #000000;
}
.filter_club_faq [data-testid="flowbite-accordion"] button, 
.filter_club_faq [data-testid="flowbite-accordion"] .custom_content{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
}
.filter_club_faq [data-testid="flowbite-accordion"] button{
    padding: 18px 0;
}

.filter_club_faq svg[data-testid="flowbite-accordion-arrow"] {
    border-radius: 50%;
    stroke-width: 0;
    padding: 4px;
    flex: 0 0 10%;
    border: 2px solid #1B2943;
    height: 100%;
}
.filterclub_learnmore_sec .warrentyIcon_section{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-80%, 10%);
}
.filterclub_learnmore_sec .warrentyIcon_section img{
    width: 100px;
}
.filter_club_faq .accordion_heading h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    flex: 1 0 80%;
}
.filter_club_faq .custom_content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}
.filter_club_faq{
    padding: 2em 1em;
}

#filter_membership_hero .hero-text .hero-banner-title{
    color: #000000;
}
#filter_membership_hero .hero-text .hero-banner-subtitle{
    color: #000000;
}
#filter_membership_hero .hero-text img{
    margin-bottom: 16px;
}

.filter_club_faq .filterclub_extra_information{
    margin-top: 20px;
}
.filter_club_faq .filterclub_extra_information p{
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.filter_club_faq .filterclub_extra_information a{
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

@media(min-width:768px){
    .filter_club_faq [data-testid="flowbite-accordion"] button{
        padding: 22px 0;
    }
    .filter_club_faq svg[data-testid="flowbite-accordion-arrow"] {
        flex: 0 0 6%;
    }
    .filterclub_learnmore_sec .warrentyIcon_section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .filterclub_learnmore_sec .warrentyIcon_section img{
        width: 100px;
    }
    .filterclub_learnmore_sec .text-section{
        padding: 3.5em 2em;
    }
}
@media(min-width:1200px){
    .filter_club_faq [data-testid="flowbite-accordion"] button{
        padding: 30px 0;
    }
    .filter_club_faq .filterclub_extra_information p{
        font-size: 24px;
        line-height: 36px;
    }
    .filter_club_faq svg[data-testid="flowbite-accordion-arrow"] {
        border-radius: 50%;
        stroke-width: 0;
        padding: 4px;
        flex: 0 0 5%;
        border: 2px solid #1B2943;
        height: 100%;
    }
    .filter_club_faq .custom_content p{
        text-align: inherit;
    }
    .filter_club_faq [data-testid=flowbite-accordion] .custom_content {
        width: calc(100% - 100px);
    }
    .filter_club_faq .filterclub_extra_information{
        margin-top: 40px;
    }
    .filterclub_learnmore_sec .text-section{
        padding: 0 90px;
    }
    .filterclub_learnmore_sec .warrentyIcon_section img{
        width: inherit;
    }
    .filter_club_faq .filter_club_main_heading{
        font-size: 52px;
        line-height: 67px;
    }
    .filter_club_faq{
        padding: 4em 6em;
    }
}