/* Begin: Product Registration Section */

.product-registration-section {
    background-color: #e1e9eb;
    padding-top: 5em;
    padding-bottom: 5em;
}

.card {
    background-color: #fff;
    margin: 0 15em;
    padding: 3em 3.5em;
}

.card-title {
    font-size: 52px;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-bottom: 1em;
}

.field-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #5E6366;
}

.form .field-input {
    color: #5E6366;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.form .field-input::placeholder {
    font-family: var(--font-tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #ABAFB1;
}

[type=checkbox], [type=checkbox]:not(:checked) {
    color: transparent;
    outline: none;
}

[type=checkbox]:focus {
    outline-color: #1B2943;
    --tw-ring-color: transparent;
}

[type=checkbox]:checked, [type=checkbox]:checked:hover, [type=checkbox]:checked:focus {
    background-color: #1B2943;
    outline-color: #1B2943;
    color: #1B2943;
}

.checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #2B2F32;
    vertical-align: middle;
}

.warranty-text {
    font-size: 14px;
    font-weight: 510;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B9398;
}

.warranty-text .learn-more-text a {
    color: #2B2F32;
    text-decoration: underline;
    margin-left: 5px;
}

.submit-btn {
    margin-top: 2em;
}

/* End: Product Registration Section */

/* Begin: Media Query */
@media screen and (max-width: 540px) {
    .product-registration-section {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .card {
        padding: 3em 1.5em;
    }
    .card-title {
        font-size: 32px;
        line-height: 41.28px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        margin: 0;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .card {
        margin: 0 10em;
    }
}

@media screen and (min-width: 1400px) {
    .card {
        margin: 0 22em;
    }
}
@media screen and (min-width:1440px) {
    .product-registration-section {
        height: 117vh;
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .card {
        margin: 0 25em;
    }
}

@media screen and (min-width:1536px) {
    .card {
        margin: 0 28em;
    }
    .product-registration-section {
        height: 92vh;
        padding-top: 6em;
    }
}

@media screen and (min-width:1800px) {
    .card {
        margin: 0 30em;
    }
}

@media screen and (min-width: 820px) and (max-width: 912px) {
    .product-registration-section {
        height: 100vh;
    }
}

/* End: Media Query */