/* Begin: Volume Control Section */

/* End: Volume Control Section */

/* Begin: Media Query */
.main-header-volume-controller {
    font-size: 32px;
    width: 80%;
    line-height: 1.2;
}
@media screen and (max-width: 320px) {
    .main-header-volume-controller {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .main-header-volume-controller {        
        width: 20rem;
    }
}
@media screen and (min-width: 1200px) {
    .main-header-volume-controller {
        font-size: 52px;
        line-height: 1.2;
        width: 32rem;
    }
}


/* End: Media Query */