/* Begin: Key Features Section */

.key-features-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3em;
    padding: 4em 2em;
    justify-content: center;
    background: #E1E9EB;
}

.key-feature-icon img {
    width: 115px;
    height: 115px;
}

.key-feature {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-feature-text {
    text-align: center;
    color: #1B2943;
    margin-top: 1em;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 60%;
}

/* End: Key Features Section */

/* Begin: Media Query */


@media screen and (max-width: 767px) {
    .key-features-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
        padding: 3.5em 3em;
        grid-row-gap: 2em;
    }

    .key-feature-icon img {
        width: 86.64px;
        height: 86.64px;
    }

    .key-feature-text {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
    }

    .filter-features.key-features-section {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .filter-features .key-feature {
        flex-direction: row;
    }

    .filter-features .key-feature-text {
        width: fit-content;
        margin-top: 0;
        margin-left: 25px;
        font-size: 18px;
    }

    .filter-features .key-feature-icon img {
        width: 73px;
        height: 73px;
    }
}

@media screen and (max-width: 540px) {
    .key-feature-text {
        width: 60%;
    }
}


@media screen and (max-width: 425px) {
    .key-feature-text {
        width: 66%;
    }
}
@media screen and (max-width: 375px) {
    .key-feature-text {
        width: 70%;
    }
}
@media screen and (max-width: 320px) {
    .key-feature-text {
        width: 87%;
    }
}

@media (max-width: 360px) {
    .filter-features .key-feature-text {
        margin-left: 20px;
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .key-features-section {
        padding: 4em 2em;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
    }

    .key-feature-text {
        width: 83%;
    }
  
}

@media screen and (min-width: 820px) {
    .key-features-section {
        padding: 4em 2em;
        grid-column-gap: 1em;
    }

    .key-feature-text {
        width: 73%;
    }
}

@media screen and (min-width: 912px) {
    .key-features-section {
        grid-column-gap: 1em;
        padding: 4em;
    }

    .key-feature-text {
        width: 66%;
    }
}

@media screen and (min-width: 1024px) {
    .key-features-section {
        grid-column-gap: 1em;
        padding: 4em 6em;
    }

    .key-feature-text {
        width: 63%;
    }
}

@media screen and (min-width: 1280px) {
    .key-features-section {
        grid-column-gap: 0;
    }

    .key-feature-text {
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .key-features-section {
        grid-column-gap: 3em;
        padding: 4em 2em;
    }
    .key-feature-text {
        width: 63%;
    }
    .filter-features.key-features-section {
        grid-column-gap: 6em;
    }
}

/* End: Media Query */