.product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
    padding: 1em 2em;
    border-top: 1px solid #DDDDDD;
}

.product-name {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.product-name .product-title {
    font-family: 'Peachi-Bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #1D1D1F;
}

.product-name .product-subtitle {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    margin-top: 1em;
    row-gap: 0.5em;
}

.product-subtitle .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: auto 0;
    color: #1D1D1F;
}

.learn-more-btn {
    padding: 0.3rem 2em;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid;
}

.learn-more-btn:hover {
    padding: 0.3rem 2em;
}
.product-key-features {
    border-left: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    width: 60%;
}

.key-feature {
    display: flex;
    flex-direction: row;    
    align-items: center;
    column-gap: 0.5em;
    justify-content: flex-end;
    flex-basis: 33.33%;
}

.key-feature-text {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 60%;
}

@media screen and (min-width: 1536px) {
    .product-header {
        overflow: hidden;
    }
    .product-name {
        flex: 1 0 35%;
    }
    .product-key-features {
        flex: 1 0 65%;
        margin-left: 2em;
    }
    .key-feature {
        justify-content: center;
    }
    .key-feature-text {
        width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .product-name {
        width: 40%;
    }
    .product-name .product-title {
        font-size: 40px;
    }
    .product-name .product-subtitle {
        margin-top: 0;
        row-gap: 0.4rem;
    }
    .product-subtitle .subtitle {
        font-size: 14px;
        margin: auto 0;
    }
    .learn-more-btn {
        padding-top: 0.3rem;
        padding-bottom: .3rem;
        padding-right: 1em;
        padding-left: 1em;
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .product-header {
        overflow: hidden;
    }
    .product-name {
        flex: 1 0 35%;
    }
    .product-key-features {
        flex: 1 0 65%;
        padding-left: 3em;
    }
    .key-feature {
        justify-content: center;
    }
    .product-name .product-title {
        font-size: 30px;
        line-height: 1.2;
    }
    .product-subtitle .subtitle {
        font-size: 10px;
    }
    .learn-more-btn {
        font-size: 12px;
    }
    .key-feature-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 912px) {
    .product-name {
        border-right: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        padding-right: 1em;
        flex: 1 0 40%;
    }
    .product-name .product-title {
        font-size: 30px;
        line-height: 1.2;
    }
    .product-name .product-subtitle {
        column-gap: 0;
    }
    .product-subtitle .subtitle {
        font-size: 10px;
        margin-right: 10px;
    }
    .learn-more-btn {
        font-size: 10px;
        line-height: 1.2;
    }
    .product-key-features {
        flex: 1 0 60%;
        margin-left: 3em;
        padding-left: 0;
        padding-right: 1em;
        border-left: none;
    }
    .key-feature {
        margin-right: 1em;
    }
    .key-feature-text {
        font-size: 10px;
        width: fit-content;
        margin-right: 2em;
        line-height: 18px;
    }
}

@media screen and (max-width: 820px) {
    .product-name .product-title {
        font-size: 24px;
        line-height: 28px;
    }
    .key-feature-text {
        font-size: 10px;
        line-height: 16px;
        width: auto;
        margin-right: 0;
    }
}
@media screen and (min-width: 1200px) {
    .product-name .product-subtitle{
        flex-direction: row
    }

}
@media screen and (max-width: 768px) {
    .product-subtitle .subtitle {
        font-size: 8px;
        margin-right: 10px;
        margin: 5px 10px auto 0;
    }
    .product-key-features {
        padding-right: 1em;
    }
    .key-feature {
        margin-right: 0;
    }
}
@media screen and (max-width: 540px) {
    .product-header {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .product-name {
        row-gap: 1em;
        padding: 1.5rem;
        width: 100%;
        border-right: none;
    }

    .product-name .product-title {
        font-size: 32px;
        line-height: 39px;
    }

    .product-name .product-subtitle {        
        row-gap: 1em;
        margin-top: 0;
    }

    .product-subtitle .subtitle {
        font-size: 16px;
        line-height: 15px;
        margin: 0;
    }

    .learn-more-btn {
        font-size: 12px;
        padding: .4rem 1.5em;
    }

    .product-key-features {
        border-left: none;
        border-top: 1px solid #DDDDDD;
        padding: 0 0 0 1.5rem;
        width: 100%;
        margin-left: 0;
        display: flex;
        flex: auto;
    }

    .key-features-inner {
        display: grid;
        grid-template-columns: repeat(3, 45%);
        overflow-x: auto;
        height: 100%;
        padding: 1.5rem 0;
        scroll-snap-type: x mandatory;
    }

    .key-feature {
        justify-content: unset;
        margin-right: 0px;
        scroll-snap-align: start;
    }

    .key-feature .key-feature-icon img{
        height: 37px;
        width: 37px;
    }
    .key-feature-text {
        width: calc(100% - 30%);
        font-size: 12px;
        line-height: 18px;
    }
    .key-features-inner::-webkit-scrollbar{
        width: 6px;
        height: 0;
        background-color: #F5F5F5;
    }
}

@media screen and (max-width: 320px) {
    .product-subtitle .subtitle {
        line-height: 22px !important;
    }
}


